* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #225fe0
#2a99cc */

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden !important;
    background: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.fr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* *FOOTER  */

.page-container {
    position: relative;
    min-height: 100vh;
    /* overflow: hidden; */
}

.content-wrap {
    padding-bottom: 200px;
    height: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.transition-to-footer {
    position: relative;
    height: 100px;
    width: 103%;
    background-color: #fff;
    transform: rotate(-1.5deg) translate(-30px, 30px);
    box-shadow: -12px 27px 24px -19px rgba(0, 0, 0, 0.28);
}

.footer-main {
    width: 100%;
    height: 100px;
    padding: 50px 10% 30px;
    background-color: #0b223d;
    font-family: 'Oxanium', cursive;
}

.footer-main a {
    float: right;
    font-size: 17px;
    letter-spacing: 1px;
    color: #91c1f8;
    font-weight: 500;
}

/* *ALERT */

.alert-wrap {
    position: absolute;
    margin: 0 auto;
    top: 80px;
    left: 50%;
    /* width: 500px; */
    margin-left: -250px;
}

.alert-bottom {
    width: 500px;
    border-radius: 15px;
    background-color: rgba(32, 124, 229, 0.5);
    transform: rotate(1.5deg);
    margin-bottom: 15px;
}

.alert-top {
    background-color: #0b223d;
    transform: rotate(-1.5deg);
    padding: 15px 20px;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 500;
    color: #fff;
}

.bottom-danger {
    background-color: rgba(206, 33, 33, 0.5);
}

.top-danger {
    background-color: #ca0404;
}

/* *SPINNER */
.spinner {
    height: 100vh;
    padding-top: 7%;
    /* width: 100%;*/
    /* overflow: hidden; */
    justify-content: space-around;
}

.spinner img {
    width: 150px;
    display: block;
}

.spinner h3 {
    font-family: 'Oxanium', cursive;
    color: #207ce5;
    padding-top: 200px;
}

.small {
    height: 400px;
    justify-content: center;
}

.small img {
    width: 100px;
}

/* *MAP */
.marker-btn {
    background: none;
    border: none;
    cursor: pointer;
    /* transform: translateY(-100%); */
    transform: translateX(-50%);
}

.marker-btn:focus {
    outline: none;
}

.marker-btn img {
    width: 20px;
    height: 20px;
}

.marker-btn i {
    font-size: 30px;
    color: #f72222;
    transform: translateY(-100%);
}

.mapContainer {
    margin-top: 50px;
    /* width: 80%;
    border-radius: 20px; */
}

.mapboxgl-popup-content {
    border-radius: 15px;
    /* min-height: 150px; */
    max-width: 200px;
    padding: 10px 15px;
    letter-spacing: 1px;
}

#pop_name {
    margin: 7px 0;
    font-size: 17px;
    color: #207ce5;
}

#pop_loc {
    font-size: 14px;
    color: #858383;
    font-weight: 400;
}

#pop_des {
    font-size: 15px;
    margin: 5px 0;
    color: #0b223d;
    font-weight: 500;
}

#pop_grad {
    font-size: 14px;
    color: #0b223d;
    margin: 3px 0;
}

.mapboxgl-popup-close-button {
    top: 2px;
    right: 7px;
    font-size: 19px;
    color: #b31919;
    font-weight: 600;
}

.mapboxgl-popup-close-button:hover,
.mapboxgl-popup-close-button:focus {
    background-color: #fff;
}

.mapboxgl-map {
    border-radius: 20px;
    border: 1px solid #207ce5;
}

.mapboxgl-ctrl-bottom-left {
    display: none;
}

.mapboxgl-ctrl-bottom-right {
    display: none;
}

/* *NAVBAR */
.main-nav {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 45px 5% 35px;
    z-index: 2;
    justify-content: flex-end;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.4s ease-in-out;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li a {
    color: #0b223d;
    font-weight: 600;
}

.main-nav ul li a:hover {
    color: #fff;
}

.main-nav ul li {
    padding: 0 20px;
}

.main-menu {
    margin-right: 0;
}
.scrolling-active {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 40px;
    padding: 30px 5% 30px;
}

.main-nav.scrolling-active ul li a:hover {
    color: #207ce5;
}

.hide-nav {
    display: none;
}
/* *LANDING*/

.header {
    height: 100vh;
    position: relative;
    background: #207ce5;
    background: -moz-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: -webkit-gradient(
        left bottom,
        right top,
        color-stop(0%, #207ce5),
        color-stop(100%, #499bea)
    );
    background: -webkit-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: -o-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: -ms-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=1 );
}

.wrapper {
    position: relative;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    width: 90%;
}

.heading h1 {
    font-size: 110px;
    font-weight: 700;
    line-height: 110px;
    letter-spacing: 5px;
    color: #91c1f8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#ius {
    font-size: 130px;
    letter-spacing: 8px;
    color: #ffffff;
}

.heading p {
    margin: 30px 0;
    color: #f4f4f4;
    letter-spacing: 1px;
}

.promo {
    font-size: 17px;
    font-weight: 600;
}

.promo a {
    text-decoration: none;
    font-weight: 700;
    color: #91c1f8;
}

.image {
    position: absolute;
    top: 50%;
    margin-top: -170px;
    right: 0;
    width: 700px;
    height: auto;
}

.image img {
    width: 700px;
}

.square {
    min-height: 800px;
    min-width: 600px;
    width: 80%;
    height: 90%;
    transform: translate(-45%, -15%) rotate(55deg);
    border-radius: 30px;
    background-color: #0b223d;
}

/*  bottom square */
.bottom {
    width: 100%;
    height: 100%;
    transform: translate(0%, -2%) rotate(6deg);
    background-color: rgba(11, 34, 61, 0.4);
}

.heading {
    width: 400px;
    transform: translate(140%, 20%) rotate(-61deg);
}

.transition {
    height: 300px;
    width: 103%;
    background-color: #fff;
    transform: rotate(-1.5deg) translateY(-30px) translateX(-30px);
    box-shadow: -5px -19px 27px -9px rgba(0, 0, 0, 0.24);
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-150px);
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}

.search-heading {
    font-size: 45px;
    color: #207ce5;
    letter-spacing: 2px;
    margin: 30px auto;
}

#search {
    margin: 10px 0;
    width: 400px;
    height: 40px;
    padding: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #0b223d;
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px 1px rgba(0, 0   , 0, 0.1); */
    border: none;
    border: 0.06em solid #0b223d;
}

#search:focus {
    outline: none;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.options {
    display: flex;
    color: #9b9b9b;
    font-weight: 400;
    letter-spacing: 1px;
}

.options p {
    margin: 10px;
}

.lndg-swtch-btn {
    border: none;
    background-color: transparent;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 15px;
    color: #9b9b9b;
    cursor: pointer;
}

.lndg-swtch-btn:focus {
    outline: none;
}

.swtch-clicked {
    color: #207ce5;
    font-weight: 600;
}

/* for filter icon */
.test {
    font-weight: 300;
    padding-top: 2px;
}

/* *LOGIN PAGE */
.container-login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #207ce5;
    background: -moz-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: -webkit-gradient(
        left bottom,
        right top,
        color-stop(0%, #207ce5),
        color-stop(100%, #499bea)
    );
    background: -webkit-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: -o-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: -ms-linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    background: linear-gradient(45deg, #207ce5 0%, #499bea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea', GradientType=1 );
}

.square-one {
    width: 400px;
    height: 400px;
    background: rgba(11, 34, 61, 0.5);
    border-radius: 15px;
    transform: rotate(4deg);
}

.square-two {
    width: 395px;
    height: 395px;
    background: rgba(11, 34, 61, 1);
    border-radius: 15px;
    transform: rotate(-4deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-content {
    margin: 0 auto;
    transform: translateY(-30px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.login-content h3 {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin: 20px;
    width: 200px;
    letter-spacing: 1px;
}

.login-content input[type='email'],
input[type='password'] {
    border-radius: 10px;
    margin: 10px;
    width: 250px;
    height: 30px;
    padding: 18px;
    border: 2px solid #0b223d;
    letter-spacing: 1px;
    font-size: 15px;
}

.login-content input[type='email']:focus,
input[type='password']:focus {
    border-color: #207ce5;
}

.login-content input:focus {
    outline: none;
}

.submit-btn {
    padding: 7px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: #b8d8f7;
}

/* *ADD ALUMNI */

.add-wrap {
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}
.container {
    width: 80%;
    height: 100%;
    max-width: 1400;
    margin: 0 auto;
}

.add-heading {
    color: #207ce5;
    letter-spacing: 2px;
    font-size: 45px;
    margin-left: 5%;
}

.add-bottom {
    margin-top: 7%;
    width: 85%;
    max-width: 900px;
    border-radius: 25px;
    background-color: rgba(32, 124, 229, 0.5);
    transform: rotate(2deg);
    box-shadow: 0px 1px 20px -11px rgba(0, 0, 0, 0.75);
}

.add-top {
    /* margin-top: 70px; */
    /* margin: 5px; */

    background-color: #0b223d;
    /* box-shadow: 0px 1px 20px -11px rgba(0, 0, 0, 0.75); */
    width: 100%;
    padding: 30px 20px;
    border-radius: 25px;
    transform: rotate(-2deg);
}
.add-alumni-form {
    position: relative;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.add-alumni-form label,
input {
    display: block;
}

.add-alumni-form label {
    margin: 10px 0;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.add-alumni-form input {
    width: 200px;
    height: 30px;
}

.alumni-form-group {
    margin: 10px 20px;
}

.alumni-form-group input,
textarea {
    margin-bottom: 20px;
    padding: 17px;
    border-radius: 7px;
    font-size: 15px;
    border: 2px solid #0b223d;
    letter-spacing: 1px;
}

.alumni-form-group input:focus,
textarea:focus {
    outline: none;
    border-color: #207ce5;
}

.add-alumni-button button {
    padding: 7px 10px;
    border-radius: 7px;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0b223d;
    /* color: #fff; */
    background-color: #b8d8f7;
}

#inputCity {
    margin: 0;
}

.react-geocoder-results {
    /* border: 0.03em solid #acacac; */
    position: absolute;
    width: 200px;
    letter-spacing: 1px;
    transform: translateY(-5px);
    padding-top: 5px;
    background-color: #fff;
    /* box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3); */
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 2px solid #207ce5;
    border-top: none;
}

.react-geocoder-results:active {
    margin: 0;
}

.react-geocoder-item {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fff;
    margin: 0;
}

.react-geocoder-item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.react-geocoder-item h5 {
    color: #207ce5;
}

.react-geocoder-item p {
    margin-top: 2px;
    font-size: 14px;
    color: rgb(97, 97, 97);
}

.react-geocoder-item:hover {
    background-color: #f5f4f4;
}

/* ALUMNI LIST */

.list-wrap {
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.alumni-list {
    margin-top: 50px;
}

.border-bottom {
    /* border: 3px solid rgba(32, 124, 229, 0.5); */
    background-color: rgba(32, 124, 229, 0.5);
    border-radius: 20px;
    padding: 3px;
    transform: rotate(2deg);
}

.border-top {
    border: 3px solid #0b223d;
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    transform: rotate(-2deg);
}

.alumni-list-item {
    width: 550px;
    margin: 15px;
    font-size: 20px;
    text-align: left;
    border-bottom: 1px dashed #d3d1d1;
}

.alumni-list-item h5 {
    font-weight: 500;
}
.alumni-list-item span {
    float: right;
}

#graduated-mrg {
    margin-right: 100px;
}

.alumni-list-item a {
    text-decoration: none;
    color: #2a99cc;
    padding-left: 30px;
}

.alumni-list-item a:hover {
    color: #225fe0;
}

.alumni-list-item button {
    margin-left: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #ce2121;
    font-weight: 550;
}

.alumni-list-item button:hover {
    color: #b31919;
}

#first-row {
    color: #207ce5;
    font-size: 19px;
}

/* *SETTINGS */
.settings-wrap {
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.settings {
    margin-top: 50px;
}

.sq-one-chg {
    background-color: rgba(32, 124, 229, 0.5);
}

@media screen and (min-width: 1650px) {
    .wrapper {
        max-width: 1600px;
    }

    .square {
        min-width: 1300px;
        min-height: 1300px;
        transform: translate(-55%, -15%) rotate(55deg);
    }

    /* bottom square */
    .bottom {
        transform: translate(0%, -2%) rotate(6deg);
    }

    .heading {
        transform: translate(170%, 20%) rotate(-61deg);
    }
}
